body {
  font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
  background-image: url("../img/starwars.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.section-title {
  font-size: 200%;
}

.main-section-title {
  font-size: 300%;
  text-align: center;
}

.character {
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}

.character-image {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.character-name {
  text-align: center;
}

.character-health {
  text-align: center;
}

#available-to-attack-section .character {
  display: inline-block;
  cursor: pointer;
  background-color: green;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.opponent {
  display: inline-block;
  cursor: pointer;
  background-color: green;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

#action .character {
  color: white;
  background-color: black;
}

.target-opponent {
  color: white;
  background-color: black;
}

#selected-character {
  width: 190px;
  height: 160px;
}

#attacker {
  width: 190px;
  height: 160px;
}

#defender {
  width: 190px;
  height: 160px;
}

#defender-name {
  text-align: center;
}

#defender-health {
  text-align: center;
}

#choose-opponent-button {
  visibility: hidden;
}



#restart-button {
  visibility: hidden;
}

#turn-counter {
  font-size: 150%;
}

#turn-counter {
  font-size: 150%;
}
